<div class="pay-heade">
  <div class="pay-text">2016年4月 水电缴费(元)</div>
  <div class="pay-num">999.00<span>未缴:100</span></div>
  <div class="white-border"></div>
  <div class="enable-num">七层点式 1号楼 666 截止日期:2016/4/31<span></span></div>
  <a class="ui-icon-set" href="#roomBind"></a>
</div>

<div class="ui-border-tb">
    <span class="history-text">历史缴费</span>
    <a class="ui-btn-self history-a fright" href="#history">查看</a>
</div>

<div id="billHistoryDetailDom">
  <div class="section-pay-list">
    <table class="ui-table ui-border-tb" style="width:100%;">
      <thead>
        <tr>
          <th>缴费项目</th>
          <th>起</th>
          <th>止</th>
          <th>读数</th>
          <th>单价</th>
          <th width="100">金额</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>水(吨)</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.45</td>
          <td>0</td>
        </tr>
        <tr>
          <td>水(吨)</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.45</td>
          <td>0</td>
        </tr>
        <tr>
          <td>水(吨)</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.45</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="pay-panel">
  <div class="ui-form ui-border-t pay-other">
    <div class="ui-form-item ui-border-b">
      <label>金额</label>
      <input id="pay-num" type="text" placeholder="请输入金额">
      <a href="#" class="ui-icon-close"></a>
    </div>
  </div>
</div>

<div class="btn-div">
  <button class="ui-btn-big charge-btn">立即缴费</button>
</div>