<div class="classroom-info" id="classroomInfo">
  <div class="classroom-school">
    <i class="ui-icon-pin"></i>
    <%= universityName %>
  </div>
  <div class="classroom-address">
    <%=userFlatModel.AreaName+' '+userFlatModel.FlatName+' '+userFlatModel.RoomId%>
  </div>
  <div class="white-border"></div>
  <br>
  <a class="ui-icon-set" href="#roomBind"></a>
</div>

<div class="ui-border-tb history-div">
  <div class="history-tip">历史缴费</div>
  <a class="ui-btn-self history-a" href="#history">查看</a>
</div>

<ul class="ui-list ui-list-pure ui-list-link ui-border-tb hide">
  <li class="ui-border-t" data-id="1">
    <h4 class="pay-list-info">电费充值<span class="pay-list-fr">0.01</span></h4>
    <p>七层点式 1号楼 666 <span class="pay-list-fr">2016年4月</span></p>
  </li>
</ul>


<div class="no-bill-message"><i class="ui-icon-emo" style="color:#bbb"></i>暂未查询到欠费</div>
