<ul class="ui-list ui-list-pure ui-list-link ui-border-tb ">
  <li class="ui-border-t" data-id="1">
    <h4 class="pay-list-info">电费充值<span class="pay-list-fr">0.01</span></h4>
    <p>怪蜀黍 <span class="pay-list-fr">2016/4/9 17:49:51</span></p>
  </li>
</ul>


<div class="no-bill-message hide">
  <i class="ui-icon-info" style="color:#bbb"></i>
  <span>暂未查询到缴费清单</span>
</div>
