<div class="history-option">
  <div class="history-choose">
    <div class="div-1 history-active" id="ourbill">月缴清单</div>
    <div class="div-2" id="mypayment">历史缴费</div>
  </div>
</div>

<ul class="ui-list ui-list-pure ui-list-link ui-border-tb ul-1">
  <li class="ui-border-t" data-id="1">
    <h4 class="pay-list-info">电费充值<span class="pay-list-fr">0.01</span></h4>
    <p>七层点式 1号楼 666 <span class="pay-list-fr">2016年4月</span></p>
  </li>
</ul>

<ul class="ui-list ui-list-pure ui-list-link ui-border-tb ul-2 hide">
  <li class="ui-border-t" data-id="1">
    <h4 class="pay-list-info">电费充值<span class="pay-list-fr">0.01</span></h4>
    <p>怪蜀黍 <span class="pay-list-fr">2016/4/9 17:49:51</span></p>
  </li>
</ul>



<div class="no-bill-message hide">
  <i class="ui-icon-info" style="color:#bbb"></i>
  <span>暂未查询到缴费清单</span>
</div>
