<div class="pay-heade">
  <div class="pay-text">可用余额(元)</div>
  <div class="pay-num"><%= balanceAmount %></div>
  <div class="white-border"></div>
  <div class="enable-nums" style="font-size:20;">可用度数(度):<span><%=balanceMeterReading%></span></div>
  <a class="ui-icon-set" href="#roomBind"></a>
</div> 