<div class="pay-heade">
  <div class="pay-text">可用余额(元)</div>
  <div class="pay-num"><%= balanceAmount %></div>
  <div class="white-border"></div>
  <div class="enable-num">可用度数(度):<span><%=balanceMeterReading%></span></div>
  <a class="ui-icon-set" href="#roomBind"></a>
</div>

<div class="ui-border-tb">
    <span class="history-text">历史充电</span>
    <!-- <span class="history-number">历史缴费</span> -->
    <a class="ui-btn-self history-a fright" href="#history">查看</a>
</div>

<div class="pay-panel">
  <div class="pay-select">
    <div class="ui-btn-select" data-number="50">50元</div>
    <div class="ui-btn-select" data-number="100">100元</div>
    <div class="ui-btn-select" data-number="200">200元</div>
    <div class="ui-btn-select">其他</div>
  </div>
  <div class="ui-form ui-border-t pay-other hide">
    <div class="ui-form-item ui-border-b">
      <label>金额</label>
      <input id="pay-num" type="text" placeholder="请输入金额">
      <a href="#" class="ui-icon-close"></a>
    </div>
  </div>
</div>

<div class="btn-div">
  <button class="ui-btn-big charge-btn">确认充值</button>
</div>

<div class="ui-tips ui-tips-info">
  <i style="font-size:.9em"></i><span style="font-size:.9em">充值处理时间周一至周五 9:00-5:00</span>
</div>


<div class="ui-dialog">
  <div class="ui-dialog-cnt">
    <div class="ui-dialog-bd">
      <h4>温馨提示</h4>
      <div></div>
    </div>
    <div class="ui-dialog-ft">
      <button type="button" class="cancle" data-role="button">取消</button>
      <button type="button" class="pay-confirm" data-role="button">确定</button>
    </div>
  </div>        
</div>