<div id="billHistoryDetailDom">
  <div class="detail-panel ui-border-b">
    <div class="detail-message">未缴费</div>
    <div class="detail-number">0.54</div>
    <div class="detail-tip">2016年4月 七层点式 3号楼 666 水电缴费</div>
  </div>
  <div class="section-pay-list">
    <table class="ui-table ui-border-tb" style="width:100%;">
      <thead>
        <tr>
          <th>缴费项目</th>
          <th>起</th>
          <th>止</th>
          <th>读数</th>
          <th>单价</th>
          <th width="100">金额</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>水(吨)</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.45</td>
          <td>0</td>
        </tr>
        <tr>
          <td>水(吨)</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.45</td>
          <td>0</td>
        </tr>
        <tr>
          <td>水(吨)</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.45</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    <br>
    <table class="ui-table ui-border-tb" style="width:100%;">
      <thead>
        <tr>
          <th>缴费时间</th>
          <th>缴费人</th>
          <th width="100">金额</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2016/9/15</td>
          <td>大蜀黍</td>
          <td>0.01</td>
        </tr>
        <tr>
          <td colspan="2">总计</td>
          <td>0.01</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>